body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header {
    display: flex;
    color: white;
    background-color: #1F2937;
    font-family: 'Roboto';
    margin: 0;
    padding: 8px;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-weight: bold;
    font-size: 16px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 12px;
}

/* CONTENT 1 */

.content-1{
    display: flex;
    font-family: 'Roboto';
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
    padding: 44px;
}

.content-1-right {
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: grey;
}

.content-1-left {
    display: flex;
    flex-direction: column;
    flex-basis: 320px;
}

.hero-text {
    font-size: 32px;
    font-weight: bold;
}

.under-hero-text {
    font-weight: 300;
}

.sign-up-logo {
    background-color: #3882F6;
    border-radius: 8px;
    width: 64px;
    padding: 6px 18px;
    margin-top: 8px;
    text-align: center;
}

/* CONTENT 2 */

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    font-family: 'Roboto';
}

.content-2-header {
    padding: 8px;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 24px;
}

.content-2-boxes {
    display: flex;
    gap: 24px;
}

.box {
    display: flex;
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin: auto;
}

.box-subtext {
    text-align: center;
}

/* CONTENT 3 */

.content-3 {
    display: flex;
    font-family: 'Roboto';
    background-color: #E5E7EB;
}

.content-3-quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin: 44px 108px;
}

.quote {
    font-style: italic;
    font-size: 24px;
    font-weight: 300;
}

.author {
    align-self: end;
    font-weight: bold;
}

/* CONTENT 4 */

.content-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    color: white;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    margin: 32px;
    border-radius: 6px;
}

.content-4-left {
    padding: 30px;
    font-size: 12px;
}

.content-4-left-header {
    font-weight: bold;
    font-size: 16px;
}

.content-4-right {
    font-size: 12px;
    align-self: center;
    border: 2px solid white;
    border-radius: 4px;
    margin: 10px 54px;
    padding: 4px 20px;
}

footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 12px;
    color: white;
    padding: 30px;
    font-weight: 300;
}